<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>514601998552-64alkkvllo8gth95r7cuqkhsmei36t8n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.514601998552-64alkkvllo8gth95r7cuqkhsmei36t8n</string>
	<key>API_KEY</key>
	<string>AIzaSyBC4E9EYpdS834-eipoMYrMGAJIET52aEA</string>
	<key>GCM_SENDER_ID</key>
	<string>514601998552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappUi</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-clone-b563d</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-clone-b563d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514601998552:ios:069e11af8c15d26dca9fad</string>
</dict>
</plist>